/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
*.log
/log
/node_modules
.mach
resources/public/js/
.cpcache
.shadow-cljs
package-lock.json
.nrepl-history
profiles.edn
package-lock.json
cljs-test-runner-out
